### 1. Đọc file CSV

In [48]:
import pandas as pd
import numpy as np

column_names = ["Id", "Name", "Age", "Weight", "m0006", "m0612", "m1218", "f0006", "f0612", "f1218"]
df = pd.read_csv("/content/patient_heart_rate.csv", names=column_names, header=0, on_bad_lines='skip')
df

      Id            Name   Age      Weight m0006 m0612 m1218 f0006 f0612 f1218
0    2.0     Donald Duck  34.0   154.89lbs     -     -     -    85    84    76
1    3.0      Mini Mouse  16.0         NaN     -     -     -    65    69    72
2    4.0  Scrooge McDuck   NaN       78kgs    78    79    72     -     -     -
3    5.0    Pink Panther  54.0  198.658lbs     -     -     -    69   NaN    75
4    6.0     Huey McDuck  52.0      189lbs     -     -     -    68    75    72
5    7.0    Dewey McDuck  19.0       56kgs     -     -     -    71    78    75
6    8.0      Scööpy Doo  32.0       78kgs    78    76    75     -     -     -
7    NaN             NaN   NaN         NaN   NaN   NaN   NaN   NaN   NaN   NaN
8    NaN             NaN   NaN         NaN   NaN   NaN   NaN   NaN   NaN   NaN
9    9.0     Huey McDuck  52.0      189lbs     -     -     -    68    75    72
10  10.0    Louie McDuck  12.0       45kgs     -     -     -    92    95    87
11  11.0       Henry Nam   NaN       60kgs    78    75    72     -     -     -
12  12.0     Michel Long  34.0         NaN    65    67    55     -     -     -
13  13.0      Tana Ricky   NaN         NaN     -     -     -    68    72    70
14  15.0             NaN  52.0      180lbs     -     -     -    68    75    72

### 2. Tách "Name" thành "Firstname" và "Lastname"

In [49]:
df[['Firstname', 'Lastname']] = df['Name'].str.split(expand=True)
df.drop('Name', axis=1, inplace=True)
df

      Id   Age      Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname  \
0    2.0  34.0   154.89lbs     -     -     -    85    84    76    Donald
1    3.0  16.0         NaN     -     -     -    65    69    72      Mini
2    4.0   NaN       78kgs    78    79    72     -     -     -   Scrooge
3    5.0  54.0  198.658lbs     -     -     -    69   NaN    75      Pink
4    6.0  52.0      189lbs     -     -     -    68    75    72      Huey
5    7.0  19.0       56kgs     -     -     -    71    78    75     Dewey
6    8.0  32.0       78kgs    78    76    75     -     -     -    Scööpy
7    NaN   NaN         NaN   NaN   NaN   NaN   NaN   NaN   NaN       NaN
8    NaN   NaN         NaN   NaN   NaN   NaN   NaN   NaN   NaN       NaN
9    9.0  52.0      189lbs     -     -     -    68    75    72      Huey
10  10.0  12.0       45kgs     -     -     -    92    95    87     Louie
11  11.0   NaN       60kgs    78    75    72     -     -     -     Henry
12  12.0  34.0         NaN    65    67    55     -     -     -    Michel
13  13.0   NaN         NaN     -     -     -    68    72    70      Tana
14  15.0  52.0      180lbs     -     -     -    68    75    72       NaN

   Lastname
0      Duck
1     Mouse
2    McDuck
3   Panther
4    McDuck
5    McDuck
6       Doo
7       NaN
8       NaN
9    McDuck
10   McDuck
11      Nam
12     Long
13    Ricky
14      NaN

### 3. Chuẩn hóa cột "Weight"

In [50]:
weight = df['Weight']

for i in range(len(weight)):
    x = str(weight[i])

    if 'lbs' in x[:-3]:
      x = x[:-3]

      float_x = float(x)

      y = int(float_x/2.2)

      y = str(y) + " kgs"

      weight[i] = y

df

      Id   Age      Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname  \
0    2.0  34.0   154.89lbs     -     -     -    85    84    76    Donald
1    3.0  16.0         NaN     -     -     -    65    69    72      Mini
2    4.0   NaN       78kgs    78    79    72     -     -     -   Scrooge
3    5.0  54.0  198.658lbs     -     -     -    69   NaN    75      Pink
4    6.0  52.0      189lbs     -     -     -    68    75    72      Huey
5    7.0  19.0       56kgs     -     -     -    71    78    75     Dewey
6    8.0  32.0       78kgs    78    76    75     -     -     -    Scööpy
7    NaN   NaN         NaN   NaN   NaN   NaN   NaN   NaN   NaN       NaN
8    NaN   NaN         NaN   NaN   NaN   NaN   NaN   NaN   NaN       NaN
9    9.0  52.0      189lbs     -     -     -    68    75    72      Huey
10  10.0  12.0       45kgs     -     -     -    92    95    87     Louie
11  11.0   NaN       60kgs    78    75    72     -     -     -     Henry
12  12.0  34.0         NaN    65    67    55     -     -     -    Michel
13  13.0   NaN         NaN     -     -     -    68    72    70      Tana
14  15.0  52.0      180lbs     -     -     -    68    75    72       NaN

   Lastname
0      Duck
1     Mouse
2    McDuck
3   Panther
4    McDuck
5    McDuck
6       Doo
7       NaN
8       NaN
9    McDuck
10   McDuck
11      Nam
12     Long
13    Ricky
14      NaN

# 4. Xóa các dòng dữ liệu rỗng hoàn toàn

In [51]:
df.dropna(how='all', inplace=True)
df

      Id   Age      Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname  \
0    2.0  34.0   154.89lbs     -     -     -    85    84    76    Donald
1    3.0  16.0         NaN     -     -     -    65    69    72      Mini
2    4.0   NaN       78kgs    78    79    72     -     -     -   Scrooge
3    5.0  54.0  198.658lbs     -     -     -    69   NaN    75      Pink
4    6.0  52.0      189lbs     -     -     -    68    75    72      Huey
5    7.0  19.0       56kgs     -     -     -    71    78    75     Dewey
6    8.0  32.0       78kgs    78    76    75     -     -     -    Scööpy
9    9.0  52.0      189lbs     -     -     -    68    75    72      Huey
10  10.0  12.0       45kgs     -     -     -    92    95    87     Louie
11  11.0   NaN       60kgs    78    75    72     -     -     -     Henry
12  12.0  34.0         NaN    65    67    55     -     -     -    Michel
13  13.0   NaN         NaN     -     -     -    68    72    70      Tana
14  15.0  52.0      180lbs     -     -     -    68    75    72       NaN

   Lastname
0      Duck
1     Mouse
2    McDuck
3   Panther
4    McDuck
5    McDuck
6       Doo
9    McDuck
10   McDuck
11      Nam
12     Long
13    Ricky
14      NaN

# 5. Loại bỏ trùng lặp trong "Firstname", "Lastname", "Age", "Weight"

In [52]:
df.drop_duplicates(subset=['Firstname', 'Lastname', 'Age', 'Weight'])
df

      Id   Age      Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname  \
0    2.0  34.0   154.89lbs     -     -     -    85    84    76    Donald
1    3.0  16.0         NaN     -     -     -    65    69    72      Mini
2    4.0   NaN       78kgs    78    79    72     -     -     -   Scrooge
3    5.0  54.0  198.658lbs     -     -     -    69   NaN    75      Pink
4    6.0  52.0      189lbs     -     -     -    68    75    72      Huey
5    7.0  19.0       56kgs     -     -     -    71    78    75     Dewey
6    8.0  32.0       78kgs    78    76    75     -     -     -    Scööpy
9    9.0  52.0      189lbs     -     -     -    68    75    72      Huey
10  10.0  12.0       45kgs     -     -     -    92    95    87     Louie
11  11.0   NaN       60kgs    78    75    72     -     -     -     Henry
12  12.0  34.0         NaN    65    67    55     -     -     -    Michel
13  13.0   NaN         NaN     -     -     -    68    72    70      Tana
14  15.0  52.0      180lbs     -     -     -    68    75    72       NaN

   Lastname
0      Duck
1     Mouse
2    McDuck
3   Panther
4    McDuck
5    McDuck
6       Doo
9    McDuck
10   McDuck
11      Nam
12     Long
13    Ricky
14      NaN

### 6. Xử lý lỗi ký tự không phải ASCII

In [53]:
df['Firstname'] = df['Firstname'].str.replace(r'[^\x00-\x7F]+', '', regex=True)
df['Lastname'] = df['Lastname'].str.replace(r'[^\x00-\x7F]+', '', regex=True)

In [54]:
df['Weight'] = pd.to_numeric(df['Weight'].str.extract('(\d+)').iloc[:, 0], errors='coerce')
df['Age'].fillna(df['Age'].mean(), inplace=True)
df['Weight'].fillna(df['Weight'].mean(), inplace=True)
df

      Id   Age  Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname Lastname
0    2.0  34.0   154.0     -     -     -    85    84    76    Donald     Duck
1    3.0  16.0   122.7     -     -     -    65    69    72      Mini    Mouse
2    4.0  35.7    78.0    78    79    72     -     -     -   Scrooge   McDuck
3    5.0  54.0   198.0     -     -     -    69   NaN    75      Pink  Panther
4    6.0  52.0   189.0     -     -     -    68    75    72      Huey   McDuck
5    7.0  19.0    56.0     -     -     -    71    78    75     Dewey   McDuck
6    8.0  32.0    78.0    78    76    75     -     -     -      Scpy      Doo
9    9.0  52.0   189.0     -     -     -    68    75    72      Huey   McDuck
10  10.0  12.0    45.0     -     -     -    92    95    87     Louie   McDuck
11  11.0  35.7    60.0    78    75    72     -     -     -     Henry      Nam
12  12.0  34.0   122.7    65    67    55     -     -     -    Michel     Long
13  13.0  35.7   122.7     -     -     -    68    72    70      Tana    Ricky
14  15.0  52.0   180.0     -     -     -    68    75    72       NaN      NaN

<ipython-input-54-17e7236b45a0>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].mean(), inplace=True)
<ipython-input-54-17e7236b45a0>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Weight'].fillna(df['Weight'].mean(), inplace=True)

### 8 Kết quả huyết áp

In [55]:
df = pd.melt(df, id_vars=['Id', 'Age', 'Weight', 'Firstname', 'Lastname'],
             value_name="PulseRate", var_name="sex_and_time").sort_values(
             ['Id', 'Age', 'Weight', 'Firstname', 'Lastname'])

tmp_df = df["sex_and_time"].str.extract(r'(\D)(\d)(\d{2})', expand=True)

tmp_df.columns = ["Sex", "hours_lower", "hours_upper"]

tmp_df["Time"] = tmp_df["hours_lower"] + "-" + tmp_df["hours_upper"]

df = pd.concat([df, tmp_df], axis=1)

df = df.drop(['sex_and_time', 'hours_lower', 'hours_upper'], axis=1)
df = df.dropna()

df.to_csv('outputcleanup.csv', index=False)

df

      Id   Age  Weight Firstname Lastname PulseRate Sex  Time
0    2.0  34.0   154.0    Donald     Duck         -   m  0-00
13   2.0  34.0   154.0    Donald     Duck         -   m  0-61
26   2.0  34.0   154.0    Donald     Duck         -   m  1-21
39   2.0  34.0   154.0    Donald     Duck        85   f  0-00
52   2.0  34.0   154.0    Donald     Duck        84   f  0-61
..   ...   ...     ...       ...      ...       ...  ..   ...
24  13.0  35.7   122.7      Tana    Ricky         -   m  0-61
37  13.0  35.7   122.7      Tana    Ricky         -   m  1-21
50  13.0  35.7   122.7      Tana    Ricky        68   f  0-00
63  13.0  35.7   122.7      Tana    Ricky        72   f  0-61
76  13.0  35.7   122.7      Tana    Ricky        70   f  1-21

[71 rows x 8 columns]

In [56]:
def fill_missing_values(row, target_column):
    if pd.isna(row[target_column]):
        existing_values = df.loc[df['Id'] == row['Id'], target_column].dropna()
        if not existing_values.empty:
            return existing_values.mean()
    return row[target_column]

df['PulseRate'] = df.apply(lambda x: fill_missing_values(x, 'PulseRate'), axis=1)

df

      Id   Age  Weight Firstname Lastname PulseRate Sex  Time
0    2.0  34.0   154.0    Donald     Duck         -   m  0-00
13   2.0  34.0   154.0    Donald     Duck         -   m  0-61
26   2.0  34.0   154.0    Donald     Duck         -   m  1-21
39   2.0  34.0   154.0    Donald     Duck        85   f  0-00
52   2.0  34.0   154.0    Donald     Duck        84   f  0-61
..   ...   ...     ...       ...      ...       ...  ..   ...
24  13.0  35.7   122.7      Tana    Ricky         -   m  0-61
37  13.0  35.7   122.7      Tana    Ricky         -   m  1-21
50  13.0  35.7   122.7      Tana    Ricky        68   f  0-00
63  13.0  35.7   122.7      Tana    Ricky        72   f  0-61
76  13.0  35.7   122.7      Tana    Ricky        70   f  1-21

[71 rows x 8 columns]

### 12  lưu file vào patient_heart_rate_clean.csv

In [57]:
def clean_and_reindex(df):
    df.dropna(subset=['Age', 'Weight'], inplace=True)
    df['Age'].fillna(df['Age'].mean(), inplace=True)
    df['Weight'].fillna(df['Weight'].median(), inplace=True)
    df.reset_index(drop=True, inplace=True)
    return df

df = clean_and_reindex(df)

df.to_csv("patient_heart_rate_clean.csv", index=False)

Data cleaning completed and saved as patient_heart_rate_clean.csv

<ipython-input-57-7d008b94e8d3>:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].mean(), inplace=True)
<ipython-input-57-7d008b94e8d3>:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Weight'].fillna(df['Weight'].median(), inplace=True)